mixin addEdit(journal)
	.row
		.col-md-6
			form
				.mb-4
					label.form-label(for="title") Title
					input#title.form-control(name="title" type="text" placeholder="Title" maxlength=100 required autocomplete="false")
				.mb-4
					label.form-label(for="rating") Rating
					input#rating.form-control(name="rating" type="number" placeholder="Rating" min=1 max=5 required autocomplete="false")
				.mb-4
					label.form-label(for="notes") Notes
					textarea#notes.form-control(name="notes" rows="5")
				button.btn.btn-primary.me-2(type="button") Save
				a.btn.btn-secondary(href="/") Cancel
