extend _layout
include _navbar
include _deleteModal

block body
	+navbar(true)
	.container
		.row.mt-5.mb-2
			.col.d-flex.justify-content-between
				h1#detailsTitle= journal.title
				div
					a.btn.btn-secondary.me-2(href="/edit/"+journal._id) &#x1F589; Edit
					button#delete.btn.btn-danger(type="button" data-deleteid=journal._id data-bs-toggle="modal" data-bs-target="#deleteModal") &#x1F5D1; Delete
		.row.mt-2
			.col
				h4
					span= journal.rating
					span  &starf;
		.row.mt-5
			.col
				p= journal.notes
		.row.mt-3
			.col
				a.btn.btn-primary(href="/") Close

	+deleteModal()

block scripts
	script(src="/js/delete.js")
