extend _layout
include _navbar

block body
	+navbar(true)
	.container
		.row.mt-5.mb-5
			.col-md-6.offset-md-3
				.input-group
					#searchIcon.input-group-text &#x1F50D;
					input#search.form-control(type="text" placeholder="Search..." aria-label="Search" aria-describedby="searchIcon" autocomplete="off")
		.d-flex.flex-wrap.justify-content-center
			each journal in journals
				.card.mt-3.me-2(style="width: 18rem;")
					.card-body
						.card-title.d-flex.justify-content-between
							h5
								a(href="/details/"+journal._id)= journal.title
							h5
								span= journal.rating
								|  &starf;
						p.card-text= journal.notes

block scripts
	script(src="/js/home.js")
