extend _layout
include _navbar

block body
	+navbar(true)
	.container
		.row.mt-5.mb-5
			.col-md-6.offset-md-3
				.input-group
					#searchIcon.input-group-text &#x1F50D;
					input#search.form-control(type="text" placeholder="Search..." aria-label="Search" aria-describedby="searchIcon")
		.d-flex.flex-wrap.justify-content-center
			.card.mt-3.me-2(style="width: 18rem;")
				.card-body
					h5.card-title Test
					.card-subtitle.text-end.mb-2 4*
					p.card-text Test
			.card.mt-3.me-2(style="width: 18rem;")
				.card-body
					h5.card-title Test
					.card-subtitle.text-end.mb-2 4*
					p.card-text Test
			.card.mt-3.me-2(style="width: 18rem;")
				.card-body
					h5.card-title Test
					.card-subtitle.text-end.mb-2 4*
					p.card-text Test
			.card.mt-3.me-2(style="width: 18rem;")
				.card-body
					h5.card-title Test
					.card-subtitle.text-end.mb-2 4*
					p.card-text Test
			.card.mt-3.me-2(style="width: 18rem;")
				.card-body
					h5.card-title Test
					.card-subtitle.text-end.mb-2 4*
					p.card-text Test
			.card.mt-3.me-2(style="width: 18rem;")
				.card-body
					h5.card-title Test
					.card-subtitle.text-end.mb-2 4*
					p.card-text Test
			.card.mt-3.me-2(style="width: 18rem;")
				.card-body
					h5.card-title Test
					.card-subtitle.text-end.mb-2 4*
					p.card-text Test
			.card.mt-3.me-2(style="width: 18rem;")
				.card-body
					h5.card-title Test
					.card-subtitle.text-end.mb-2 4*
					p.card-text Test
